*{
  font-family:cursive ;
  color:#E33469;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    background-color: #d4baba;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #AB274F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #E33469;
  }
  